jsf_xsd/primefaces-5.3/primefaces-pm.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by TaglibToXSD XSLT modified by Dawid Pytel https://github.com/destin/jsf-goodies--><!-- Original XSLT created by + Mark A. Ziesemer, http://www.ziesemer.com + 2008-03-25 --><xs:schema version="1.0" xml:lang="en" elementFormDefault="qualified" targetNamespace="http://primefaces.org/mobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation/>
<xs:documentation>tlib-version: 2.0</xs:documentation>
</xs:annotation>
<xs:element name="content">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.Content</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.ContentRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="field">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.Field</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.FieldRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="footer">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.Footer</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.FooterRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="title">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="fixed">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="swatch">
<xs:annotation>
<xs:documentation><![CDATA[Swatch of the footer]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tapToggle">
<xs:annotation>
<xs:documentation><![CDATA[For fixed footers, sets whether the fixed toolbar's visibility can be toggled by tapping on the page.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="header">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.Header</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.HeaderRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="title">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="fixed">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="swatch">
<xs:annotation>
<xs:documentation><![CDATA[Swatch of the header.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="inputSlider">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.InputSlider</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.InputSliderRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="value">
<xs:annotation>
<xs:documentation><![CDATA[Value of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="converter">
<xs:annotation>
<xs:documentation><![CDATA[An el expression or a literal text that defines a converter for the component. When it's an EL expression, it's resolved to a converter instance. 
    In case it's a static text, it must refer to a converter id.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="immediate">
<xs:annotation>
<xs:documentation><![CDATA[When set true, process validations logic is executed at apply request values phase for this component. Default is false.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="required">
<xs:annotation>
<xs:documentation><![CDATA[Marks component as required.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="validator">
<xs:annotation>
<xs:documentation><![CDATA[A method expression referring to a method validationg the input.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="valueChangeListener">
<xs:annotation>
<xs:documentation><![CDATA[A method binding expression referring to a method for handling a valuchangeevent.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="requiredMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when required field validation fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="converterMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when conversion fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="validatorMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when validation fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="minValue">
<xs:annotation>
<xs:documentation><![CDATA[Minimum value of the slider. Default is 0.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="maxValue">
<xs:annotation>
<xs:documentation><![CDATA[Maximum value of the slider. Default is 100.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the container element.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the container element.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="step">
<xs:annotation>
<xs:documentation><![CDATA[Fixed pixel increments that the slider move in. Default is 1.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="disabled">
<xs:annotation>
<xs:documentation><![CDATA[Disables or enables the slider.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="label">
<xs:annotation>
<xs:documentation><![CDATA[User presentable name.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="highlight">
<xs:annotation>
<xs:documentation><![CDATA[Highlights the value range when enabled.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="page">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.Page</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.PageRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="title">
<xs:annotation>
<xs:documentation><![CDATA[Title of the view.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="swatch">
<xs:annotation>
<xs:documentation><![CDATA[Swatch of the view.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lazy">
<xs:annotation>
<xs:documentation><![CDATA[Lazy loading views are not rendered on initial page load to improve performance and instead lazily loaded on demand when there are first navigated to.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="rangeSlider">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.RangeSlider</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.RangeSliderRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the container element.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the container element.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="highlight">
<xs:annotation>
<xs:documentation><![CDATA[Highlights the value range when enabled.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="switch">
<xs:annotation>
<xs:documentation><![CDATA[]]></xs:documentation>
<xs:documentation>component-type: org.primefaces.mobile.UISwitch</xs:documentation>
<xs:documentation>renderer-type: org.primefaces.mobile.component.UISwitchRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="id">
<xs:annotation>
<xs:documentation><![CDATA[Unique identifier of the component in a namingContainer.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="rendered">
<xs:annotation>
<xs:documentation><![CDATA[Boolean value to specify the rendering of the component, when set to false component will not be rendered.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="binding">
<xs:annotation>
<xs:documentation><![CDATA[An el expression referring to a server side UIComponent instance in a backing bean.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="value">
<xs:annotation>
<xs:documentation><![CDATA[Value of the component.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="converter">
<xs:annotation>
<xs:documentation><![CDATA[An el expression or a literal text that defines a converter for the component. When it's an EL expression, it's resolved to a converter instance. 
    In case it's a static text, it must refer to a converter id.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="immediate">
<xs:annotation>
<xs:documentation><![CDATA[When set true, process validations logic is executed at apply request values phase for this component. Default is false.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="required">
<xs:annotation>
<xs:documentation><![CDATA[Marks component as required.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="validator">
<xs:annotation>
<xs:documentation><![CDATA[A method expression referring to a method validationg the input.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="valueChangeListener">
<xs:annotation>
<xs:documentation><![CDATA[A method binding expression referring to a method for handling a valuchangeevent.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="requiredMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when required field validation fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="converterMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when conversion fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="validatorMessage">
<xs:annotation>
<xs:documentation><![CDATA[Message to display when validation fails.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLabel">
<xs:annotation>
<xs:documentation><![CDATA[Custom label for on state.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="offLabel">
<xs:annotation>
<xs:documentation><![CDATA[Custom label for off state.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="label">
<xs:annotation>
<xs:documentation><![CDATA[User presentable name.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="disabled">
<xs:annotation>
<xs:documentation><![CDATA[Disables or enables the switch.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onchange">
<xs:annotation>
<xs:documentation><![CDATA[Client side callback to execute on value change event.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style">
<xs:annotation>
<xs:documentation><![CDATA[Inline style of the main container.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleClass">
<xs:annotation>
<xs:documentation><![CDATA[Style class of the main container.]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:schema>
