jsf_xsd/2.2/mojarra_ext.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by TaglibToXSD XSLT modified by Dawid Pytel https://github.com/destin/jsf-goodies--><!-- Original XSLT created by + Mark A. Ziesemer, http://www.ziesemer.com + 2008-03-25 --><xs:schema version="1.0" xml:lang="en" elementFormDefault="qualified" targetNamespace="http://mojarra.dev.java.net/mojarra_ext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation/>
<xs:documentation>tlib-version: 2.2</xs:documentation>
</xs:annotation>
<xs:element name="regexValidator">
<xs:annotation/>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
</xs:complexType>
</xs:element>
<xs:element name="creditcardValidator">
<xs:annotation/>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
</xs:complexType>
</xs:element>
<xs:element name="focus">
<xs:annotation>
<xs:documentation>component-type: com.sun.faces.ext.focus</xs:documentation>
<xs:documentation>renderer-type: com.sun.faces.ext.render.FocusHTMLRenderer</xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
</xs:complexType>
</xs:element>
</xs:schema>
