jsf_xsd/2.3/facelets_passthrough_elements.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by TaglibToXSD XSLT modified by Dawid Pytel https://github.com/destin/jsf-goodies--><!-- Original XSLT created by + Mark A. Ziesemer, http://www.ziesemer.com + 2008-03-25 --><xs:schema version="1.0" xml:lang="en" elementFormDefault="qualified" targetNamespace="http://xmlns.jcp.org/jsf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation>&lt;p class="changed_added_2_2"&gt;The presence of an &lt;br /&gt; attribute from this namespace on an otherwise non-JSF aware&lt;br /&gt; markup element indicates that the markup element must be treated&lt;br /&gt; as a JSF component that will be rendered equivalently to what is&lt;br /&gt; specified directly in the Facelet page, with the added benefit&lt;br /&gt; of being associated with a server side &lt;code&gt;UIComponent&lt;/code&gt;&lt;br /&gt; instance. &lt;/p&gt; &lt;div class="changed_added_2_2"&gt; &lt;p&gt;Please see the documentation for Java class &lt;code&gt;javax.faces.view.facelets.TagDecorator&lt;/code&gt;.&lt;/p&gt; &lt;/div&gt;</xs:documentation>
<xs:documentation>tlib-version: 2.3</xs:documentation>
</xs:annotation>
<xs:element name="element">
<xs:annotation>
<xs:documentation><![CDATA[

     <p class="changed_added_2_2">Markup element
     that causes a component of <code>component-family:
     javax.faces.Panel</code> with <code>renderer-type:
     javax.faces.passthrough.Element</code> to be inserted in the tree.
     This element is primarily intended to be used by the default
     <code>TagDecorator</code>, when no match is found as described in
     the javadoc for that class.  The component that backs this element
     must implement
     <code>javax.faces.component.behavior.ClientBehaviorHolder</code>
     and return "click" from its <code>getDefaultEventName()</code>
     method.  The list of events returned from its
     <code>getEventNames()</code> method must include the "on*"
     attributes below, ommitting the leading "on".</p>

        
        ]]></xs:documentation>
</xs:annotation>
<xs:complexType mixed="true">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:any processContents="lax"/>
</xs:choice>
<xs:attribute name="elementName" use="required">
<xs:annotation>
<xs:documentation><![CDATA[

         <p class="changed_added_2_2">This attribute must be in the
         <code>http://xmlns.jcp.org/jsf/passthrough</code> namespace and
         its value must be set into the component's pass through
         attributes map under the key given by the value of the symbolic
         constant
         <code>javax.faces.render.Renderer.PASSTHROUGH_RENDERER_LOCALNAME_KEY</code>.</p>
          
            ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onclick">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          clicked over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="ondblclick">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          double clicked over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onmousedown">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          pressed down over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onmouseup">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          released over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onmouseover">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          moved onto this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onmousemove">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          moved within this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onmouseout">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a pointer button is
          moved away from this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onkeypress">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a key is
          pressed and released over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onkeydown">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a key is
          pressed down over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onkeyup">
<xs:annotation>
<xs:documentation><![CDATA[<p class="changed_added_2_2">
          Javascript code executed when a key is
          released over this element.
        ]]></xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:schema>
